.submit-button {
    min-width: 10rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 10px 0;
}

@media only screen and (min-width: 600px) {
    .submit-button {
        margin-top: 25px;
    }
}

.submit-button:hover {
    background-color: var(--color-hover);
}

.submit-button:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
