.form-container {
    padding: 10px 1.5em;
    background: var(--color-primary);
    color: var(--color-white);
}

@media only screen and (min-width: 600px) {
    form {
        display: flex;
        flex-direction: row;
    }
}
